<header class="header-img">
	<article class="container">
  		<h1>Check Out <span>Liberty Websites</span></h1>
  		<p>Learn how we can help get your political movement, moving!</p>
	</article>
</header>