<header class="header-img">
	<article class="container header-article">
  		<h1>Check Out <span>Liberty Websites</span></h1>
  		<p>Learn how we can help get your political movement, moving!</p>
	</article>
	<div class="header-img-scroll">
		<span class="glyphicon glyphicon-chevron-down"></span> Why choose Liberty Websites?
	</div>
</header>